<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${question.subject}"></h1>
    <div th:text="${question.content}"></div>
    <h5 th:text="|${#lists.size(question.answers)}개의 답변이 있습니다.|"></h5>

    <ul>
        <li th:each="a : ${question.answers.reversed}">
            <span th:text="${a.id}"></span>
            <span th:text="${a.createDate}"></span>
            <span th:text="${a.content}"></span>
        </li>
    </ul>

    <form th:action="@{|/answer/create/${question.id}|}" method="post">
        <textarea name="content" id="content" rows="15"></textarea>
        <input type="submit" value="답변등록">
    </form>
</body>
</html>